body{background-color: #091b29; color: #9f9f9f; font-family: sans-serif; text-align: center;}
hr{color: #9f9f9f;}

#time{font-size: 60px;}
#date{font-size: 25px;}
#sitesList {display: inline-block;}
.SitesListElement { display: inline-block; width: 200px; height: 200px; background-color: #9f9f9f;}

#search:focus{ background-color: #051019;}
#search{
    background-color: #071520; 
    border: none; 
    border-radius: 10px; 
    width: 300px; 
    height: 30px; 
    caret-color: transparent; 
    color: #fff;
    text-align: center;
}